$color-org:#ff4522;
$bg-gray:#494b50;
$color-w:#ffffff;
$color-c:#a7afbd;



$color-b:#000000;

// ---------------------------
$color-gray:#303134;
$color-white:#ffffff;
$color-lightgray:#a7afbd;
$color-orange:#ff4522;
$color-ligray:#494b50;
$color-logo:#08c5ff;
$color-black:black;

