@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
.main{
    display: flex;
    padding: 10px;
    border: 5px solid red;
}

.box-1{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px solid rgb(255, 0, 0);
}

.box-2{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px dotted rgb(255, 0, 0);
}

.box-3{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px dashed rgb(255, 0, 0);
}

.box-4{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px double rgb(255, 0, 0);
}

.box-5{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px hidden rgb(255, 0, 0);
}

.box-6{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px ridge rgb(255, 0, 0);
}

.box-7{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px none rgb(255, 0, 0);
}

.box-8{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px inset rgb(255, 0, 0);
}

.box-9{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: lightskyblue;
    border: 5px outset rgb(255, 0, 0);
}

.box-10{
    height: 300px;
    width: 300px;
    background-color: lightskyblue;
    border: 5px groove rgb(255, 0, 0);
}

.kkk{
    height: 300px;
    width: 300px;
    border: 5px solid blue;
    border-style: dotted;
    border-top-style: dashed;
    border-bottom: 5px solid blue;
    border-bottom-color: blueviolet;
    border-top-right-radius: 100px;
    border-right-color: black ;
}

.full{
    height: 300px;
    width: 300px;
    border: 5px solid blue;
    /* border-radius: 100%; */
    /* border-radius: 40px; */
    /* border-radius: 10px 50px; */
    /* border-radius: 10px 50px 100px; */
    border-radius: 10px 100px 10px 10px;
}

.boxx-2{
    height: 300px;
    width: 300px;
    margin-left: 400px;
    margin-top: 140px;
    background-color: bisque;
    border: 5px solid blue;
    outline: 5px solid darkmagenta;
    outline-offset: 100px;
}

.opacity{
    height: 300px;
    width: 300px;
    margin-left: 400px;
    margin-top: 140px;
    background-color: bisque;
    opacity: 0.5;
}

button{
    
    background-color: red;
    border: none;
    padding: 10px 50px;
    color: aliceblue;
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
}

button:hover{
    outline: 2px solid darkgreen ;
}

button:focus{
    border: 5px dotted black;
    box-shadow: black 5px 5px 1px;
}

.link-1{
    text-decoration: none;
    background-color: red;
    border: none;
    padding: 10px 50px;
    color: aliceblue;
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
}
a:hover{
    outline: 2px solid darkgreen;
    border: 5px dashed black;
    background-color: aqua;
    color: rgb(0, 0, 0);
}

input{
    height: 45px;
    width: 120px;
    background-color: lightgreen;
    border: none;
    padding: 100px, 220px;
    color: aliceblue;
    border-radius: 10px;
    font-weight: bold;
}
input:hover{
    border: 2px solid black;
    box-shadow: 5px 5px 1px red;
}
input:focus{
    box-shadow: 2px 2px 0.5px red;
    border: 5px red solid;
}

.txtcolour{
    color: blue;
    font-weight: bolder;
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration: line-through; */

}

/* .text-align{
    text-align: center;
    color: crimson;    
}
.text-align p:nth-child(1){
    text-align: left;
}

.text-align p:nth-child(2){
    text-align: right;
}
.text-align p:nth-child(3){
    text-align: center;
}
.text-align p:nth-child(4){
    text-align: left;
} */



/* .text-align p:nth-child(1){
    text-decoration: overline;
}
.text-align p:nth-child(2){
    text-decoration: line-through;
}
.text-align p:nth-child(3){
    text-decoration: underline;
}
.text-align p:nth-child(4){
    text-decoration: underline dotted blue;
}
.text-align p:nth-child(5){
    text-decoration: wavy black line-through;
} */

/* font-family: family-name|generic-family|initial|inherit; */
.font-family p:nth-child(1){
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Roboto Slab',serif;
}
.font-family p:nth-child(2){
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}


.font-size p{
    font-size: 30px;
}


.font-style p:nth-child(1){
    font-style: italic;
}
.font-style p:nth-child(2){
    font-style: oblique;
}


.font-variant{
    font-variant: small-caps;
}

.font-weight{
    /* font-weight: lighter; */
    /* font-weight: bold; */
    font-weight: bolder;
}

.text-height{
    font-size: 20px;
    line-height: 20px;
}




